#movie-result {
  background: rgb(244, 98, 181);
  border: 5px solid red;
  font-size: 24px;
  font-style:italic;
  font-family: cursive;
  font: serif;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: rgb(196, 159, 255);
  border: 5px solid black;
  font-size: 24px;
  font-family:sans-serif;
  font: italic 20px fantasy;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;

}

#pic1 {background: rgb(250, 70, 80)}
#pic3 {background: rgb(90, 70, 80)}

hr {
  height: 5px;
  background-color: purple;
}
.head {background: rgb(25, 300, 20)}
